.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.WrapperForm{
    width: min(700px, 90%);
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;
    background: var(--backgrond);
    
}

.input {
    width: 100%;
    padding: 1rem 1rem;

    border: 1px solid var(--foreground);
    border-radius: 0.5rem;

    background: var(--backgrond);
    color: var(--textcolor);

    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-color: var(--hover);
}

.textarea {
    width: 100%;
    min-height: 3vw;
    padding: 1rem 1rem;
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;

    background: var(--backgrond);
    color: var(--textcolor);
    resize: vertical;
    font-size: 1rem;
}

.textarea:focus {
    outline: none;
    border-color: var(--hover);
}

.submitButton {
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.75rem;
    background: var(--foreground);
    color: var(--textcolor);
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}

.range {
    width: 100%;
    appearance: none;
    height: 0.3rem;
    border-radius: 0.5rem;
    background: var(--foreground);
}

.range::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--textcolortitle);
    cursor: pointer;
}

.submitButton:hover {
    background: var(--hover);
    transform: translateY(-2px);
}

.submitButton:active {
    transform: translateY(0);
}

.preview{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 0.5rem;
    border: 1px solid var(--foreground);
    margin: 0 auto;
}

.success {
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background: rgba(0, 255, 0, 0.1);
    color: #00aa00;
    font-weight: 600;
}